<div class="ae-dialog__header flex align-items-center justify-content-center">
  <i class="pi pi-arrow-left ae-text-dark mr-3" (click)="onCancel()"></i>
  <h2 class="ae-text-dark fw-bold">Proyecto El Salvador <small>Crowdfounding</small></h2>
</div>
<div class="ae-dialog__content">
  <div class="ae-dialog__description">
    <div class="ae-text">
      <p>En este proyecto, las inversiones se llevan a cabo a través de TOKENS, cada uno con un valor 
        en dólares. Estos tokens son una representación digital de la inversión y están vinculados al 
        valor del dólar.</p>
    </div>
    <div class="ae-actions">
      <h2>1 TOKENES = $100 USD</h2>
    </div>
  </div>
</div>
<div class="ae-dialog__actions">
  <p-button class="ae-button ae-button--primary w-full" label="Continuar" (click)="onAccept()"></p-button>
</div>