<div class="ae-tabs">
  <p-tabMenu
      [model]="menuItems"
      [activeItem]="activeItem"
      (activeItemChange)="onActiveItemChange($event)"
  ></p-tabMenu>
</div>
<div class="ae-tabs__container" *ngIf="activeItem.label == 'Depositar'">
  <div class="ae-step__one">
    <div class="ae-tabs__container--content">
      <div class="ae-title flex align-items-center justify-content-between">
        <h2>Ingresar fondos</h2>
        <h3>1/2</h3>
      </div>
    </div>
    <div class="ae-tabs__container--actions">
      <p-button label="Continuar" class="ae-button ae-button--primary" (click)="onAccept()"></p-button>
    </div>
  </div>
  <div class="ae-step__two">
    <div class="ae-tabs__container--content">

    </div>
    <div class="ae-tabs__container--actions">
      <p-button label="Depositar" class="ae-button ae-button--primary" (click)="onAccept()"></p-button>
    </div>
  </div>
</div>
<div class="ae-tabs__container" *ngIf="activeItem.label == 'Retirar'">
  <div class="ae-tabs__container--actions">

  </div>
</div>