<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>               
                
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                     <span aria-hidden="true">&times;</span>
                </button>
             
                
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Name")}} :</h6>
                        {{ item.otcCoin.name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Key")}} :</h6>
                        {{ item.otcCoin.key }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Api")}} :</h6>
                        {{l( cryptoApis[item.otcCoin.api])}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("UseGlobalFee")}} :</h6>
                        <div *ngIf="item.otcCoin.useGlobalFee" class="text-left"><i class="fa fa-check-circle kt--font-success"
                                title="True"></i></div>
                        <div *ngIf="!item.otcCoin.useGlobalFee" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("BaseFee")}} :</h6>
                        {{ item.otcCoin.baseFee }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TradingFee")}} :</h6>
                        {{ item.otcCoin.tradingFee }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Order")}} :</h6>
                        {{ item.otcCoin.order }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Publish")}} :</h6>
                        <div *ngIf="item.otcCoin.publish" class="text-left"><i class="fa fa-check-circle kt--font-success"
                                title="True"></i></div>
                        <div *ngIf="!item.otcCoin.publish" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("ApiUrl")}} :</h6>
                        {{ item.otcCoin.apiUrl }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
