<div class="ae-dialog__content ae-dialog__message">
  <i class="flex align-items-center justify-content-center ae-text-gris" [class]="icon"></i>
  <h2 class="ae-text-primary" [innerHTML]="title"></h2>
  <p class="ae-text-black ae-text-default" *ngIf="subtitle">{{ subtitle }}</p>
  <p class="ae-text-gris-dark ae-text-default" *ngIf="info">{{ info }}</p>
</div>
<div class="ae-dialog__actions">
  <p-button class="ae-button ae-button--primary w-full" [label]="titleAction" (click)="onAccept()"></p-button>
</div>