<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('DetailsRegistry') }}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-5">
                    <div class="col-10">
                        <h5>
                            {{ l('Name') }}:
                            <span class="text-danger">{{ item.userName }} {{ item.userSurname }}</span>
                        </h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('Email') }} :</h6>
                        {{ item.userEmail }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('PhoneNumber') }} :</h6>
                        {{ item.userPhoneCode != null ? '(' + item.userPhoneCode + ')' : '' }}
                        {{ item.userPhoneNumber }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('DayOfBirth') }} :</h6>
                        {{ item.mntMember.dayOfBirth | luxonFormat : 'dd/MM/yyyy' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('ResidenceCountry') }} :</h6>
                        {{ item.residenceCountryTitle }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('CatNationality') }} :</h6>
                        {{ item.catNationalityTitle }}
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="card">
                        <div class="card-header">
                            <h5>{{ l('AddressTitle') }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6>{{ l('Street') }} :</h6>
                                    {{ address.street }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('Number') }} :</h6>
                                    {{ address.exteriorNo }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('ZipCode') }} :</h6>
                                    {{ address.zipCode }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('CatCountry') }} :</h6>
                                    {{ address.catCountryTitle }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('Province/Mayor') }} :</h6>
                                    {{ address.catStateTitle }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('City') }} :</h6>
                                    {{ address.city }}
                                </div>
                                <div class="col-6 mb-3">
                                    <button
                                        class="btn btn-sm btn-primary"
                                        (click)="downloadFile(fileType.AddressProof)"
                                    >
                                        {{ l('DownloadAddressProof') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="card">
                        <div class="card-header">
                            <h5>{{ l('IdentityPersonalTitle') }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6>{{ l('CatIdentityType') }} :</h6>
                                    {{ identity.catIdentityTypeTitle }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('IssuingCountry') }} :</h6>
                                    {{ identity.issuingCountryTitle }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('IdentityId') }} :</h6>
                                    {{ identity.identityId }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('ExpirationDate') }} :</h6>
                                    {{ identity.expiration | luxonFormat : 'dd/MM/yyyy' }}
                                </div>
                                <div class="col-6 mb-3">
                                    <button
                                        class="btn btn-sm btn-primary"
                                        (click)="downloadFile(fileType.IdentityFront)"
                                    >
                                        {{ l('DownloadIdentityFront') }}
                                    </button>
                                </div>
                                <div class="col-6 mb-3">
                                    <button
                                        class="btn btn-sm btn-primary"
                                        (click)="downloadFile(fileType.IdentityBack)"
                                    >
                                        {{ l('DownloadIdentityBack') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="card">
                        <div class="card-header">
                            <h5>{{ l('EconomicInfoTitle') }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6>{{ l('CatProfession') }} :</h6>
                                    {{ economic.catProfessionTitle }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('MonthlyIncome') }} :</h6>
                                    {{ economic.income }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('CatSourceFoundses') }} :</h6>
                                    {{ economic.catSourceFoundsTitle }}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ 'OperationsEstimate' | localize }} :</h6>
                                    {{ economic.expectedTransactions }}
                                </div>
                                <div class="col-6 mb-3">
                                    <button class="btn btn-sm btn-primary" (click)="downloadFile(fileType.IncomeProof)">
                                        {{ l('DownloadIncomeProof') }}
                                    </button>
                                </div>
                                <div class="col-6 mb-3">
                                    <button class="btn btn-sm btn-primary" (click)="downloadFile(fileType.TaxReturn)">
                                        {{ l('DownloadTaxReturn') }}
                                    </button>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>{{ l('PepTitle') }} :</h6>
                                    {{ economic.pep ? l('Yes') : l('No') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
