<div class="ae-dialog__header flex align-items-center justify-content-center">
    <i class="pi pi-arrow-left ae-text-dark mr-3" (click)="onCancel()"></i>
    <h2 class="ae-text-dark fw-bold">Resumen de envio</h2>
  </div>
  <div class="ae-dialog__content">
    <div class="ae-resumen__title flex align-items-center justify-content-center">
        <img
            class="mr-3"
            src="/assets/crypto-icons/{{ resumenSend.cryptoAssetId.subtitle.toLowerCase() }}.png" 
            style="width: 30px"
        />
        <p class="m-0 ae-text-dark ae-text-default fw-bold">{{ amountTotal}}</p>
    </div>
    <div class="ae-table__resumen">
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Dirección a enviar</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-gris-network ae-text-default w-full">{{ shortAdress }}</span>
            </div>
        </div>
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Red</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-gris-dark ae-text-default w-full">{{ resumenSend.blockchainNetworkId.label }}</span>
            </div>
        </div>
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Fecha y hora</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-gris-dark ae-text-default w-full">{{ dateTime }}</span>
                <span class="ae-text-gris-dark ae-text-default w-full">{{ hourTime }}</span>
            </div>
        </div>
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Total de envio</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-gris-dark ae-text-default w-full">{{ resumenSend.amount }} {{ resumenSend.cryptoAssetId.subtitle }}</span>
            </div>
        </div>
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Comisión</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-gris-dark ae-text-default w-full">{{ amountCommision }} {{ resumenSend.cryptoAssetId.subtitle }}</span>
            </div>            
        </div>
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Total</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-primary ae-text-default w-full">{{ amountTotal}} {{ resumenSend.cryptoAssetId.subtitle }}</span>
            </div>
        </div>
    </div>
  </div>
  <div class="ae-dialog__actions">
    <p-button class="ae-button ae-button--primary w-full" label="Solicitar Envio" [disabled]="sending" (click)="onRequestSend()"></p-button>
  </div>