<!--begin::Signin-->
<div class="login-form" [@routerTransition]>
    <div class="ae-login__title">
        <h3 class="fw-bold ae-text-dark">{{ 'LogIn' | localize }}</h3>
    </div>
    <!--begin::Form-->
    <form #loginForm="ngForm" class="login-form form --kt-text-dark" method="post" (ngSubmit)="login()">
        <div class="ae-input">
            <label>{{ 'EmailEn' | localize }}</label>
            <input #userNameOrEmailAddressInput="ngModel"
                [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus
                class="form-control" type="text"
                autocomplete="new-password" placeholder="{{ 'EmailEn' | localize }}"
                name="userNameOrEmailAddress" required />
            <validation-messages [formCtrl]="userNameOrEmailAddressInput"
                *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
        </div>

        <div class="ae-input mb-2">
            <label>{{ 'Password' | localize }}</label>
            <div class="ae-input__group">
                <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password" 
                    class="form-control" [type]="passwordFieldType"
                    autocomplete="new-password" placeholder="{{ 'Password' | localize }}" name="password" required
                    maxlength="32"
                    (keyup)="validatePassword($event)" />
                <i (click)="togglePasswordVisibility()" class="pi" [ngClass]="{'pi-eye-slash' : !showPassword,'pi-eye' : showPassword}"></i>
            </div>
            <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
        </div>

        <div class="mb-5 d-flex justify-content-between mt-2">
            <a routerLink="/account/forgot-password" id="forget-password"
                class="ae-text-primary ae-text-small fw-semibold text-hover-primary">
                {{ 'ForgotPassword' | localize }}
            </a>
        </div>

        <!--begin::Action-->
        <div class="ae-login__actions">
            <button type="submit" [disabled]="!loginForm.valid"
                class="ae-btn w-100 ae-btn--primary fw-bolder border-middle">
                {{ 'Next2' | localize }}
            </button>
        </div>
        <!--end::Action-->
        <div class="ae-login__line"
            *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
            <span class="fw-bolder">0</span>
            <br>
        </div>

        <div class="pb-lg-0 pb-5 login__options flex align-items-center gap-4"
            *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
            <a *ngFor="let provider of loginService.externalLoginProviders"
                class="ae-btn ae-btn--default w-100 flex align-items-center justify-content-center ae-text-small fw-semibold" (click)="externalLogin(provider)"
                title="{{ provider.name }}">
                <div class="ae-icon">
                    <img class="mr-5" src="./assets/common/images/social/icon-{{provider.icon}}.svg" alt="logo">
                </div>
                <span>{{l('ContinueWith')}} {{ provider.name }}</span>
            </a>
        </div>
    </form>
    <!--end::Form-->
</div>

<div class="mt-6 --kt-text-dark">
    <div class="flex align-items-center justify-content-center gap-2">
        <span class="ae-text-dark ae-text-small fw-semibold">{{ 'DontYouHaveAnAccount' | localize }}</span>
        <div *ngIf="isSelfRegistrationAllowed">
            <a routerLink="/account/register"
                class="fw-bolder ae-text-primary ae-text-small">
                {{ 'CreateAnAccount' | localize }}
            </a>
        </div>
    </div>

    <span *ngIf="!multiTenancySideIsTeanant && isTenantSelfRegistrationAllowed">
        <a routerLink="/account/select-edition"
            class="btn-outline w-100 btn-outline-primary fw-bolder fs-h6 px-8 py-4 my-3 me-3">
            {{ 'NewTenant' | localize }}
        </a>
    </span>
</div>