<div class="login-form" [@routerTransition]>
    <button
        type="button"
        class="ae-btn ae-btn--transparent ae-button--back fw-bolder"
        (click)="goBack()"
    >
        <i class="ae-text-black pi pi-arrow-left"></i>
        <span>{{ 'Back' | localize }}</span>
    </button>
    <div class="ae-login__title">
        <h3 class="ae-text-dark mb-8">{{ 'SendSecurityCode' | localize }}</h3>
        <p class="ae-text-black ae-text-default mb-5">{{ 'SendSecurityCode_Title' | localize }}</p>
    </div>
    <form #twoFactorForm="ngForm" class="login-form form" method="post" (ngSubmit)="submit()"
        *ngIf="loginService.authenticateResult">
        <!-- <p>{{ 'SendSecurityCode_Title' | localize }}</p> -->
        <!-- <div class="alert alert-info" role="alert">
            <strong>{{ 'TitleAtention' | localize }}:</strong>
            {{ 'SendSecurityCode_Information' | localize }}
        </div>-->
        <div class="mb-5">
            <p-dropdown #twoFactorOptions="ngModel" name="twoFactorOptions" [(ngModel)]="selectedTwoFactorProvider"
                [options]="optionsTwoFactorProvider" placeholder="{{ 'SelectAnItemDropdown' | localize }}"
                [showClear]="true" required></p-dropdown>
            <validation-messages [formCtrl]="twoFactorOptions"></validation-messages>
        </div>

        <div class="pb-lg-0 pb-5">
            <button type="submit" class="btn btn-primary fw-bolder fs-h6 px-8 py-4 my-3 me-3">
                {{ 'Submit' | localize }}
            </button>
        </div>
    </form>
</div>