<div class="login-form" [@routerTransition]>
    <button
        type="button"
        class="ae-btn ae-btn--transparent ae-button--back fw-bolder"
        (click)="goBack()"
    >
        <i class="ae-text-black pi pi-arrow-left"></i>
        <span>{{ 'Back' | localize }}</span>
    </button>
    <div class="ae-login__title">
        <h3 class="ae-text-dark mb-8">
            {{ 'VerifySecurityCode' | localize }}
        </h3>
        <ng-container *ngIf="provider === 'Email'">
            <p class="ae-text-black ae-text-default mb-5">{{ 'EnterNumberDigitCode' | localize : email }}</p>
            <p class="ae-text-gris-dark ae-text-default mb-5">{{ 'SecureAccountHelpUs' | localize }}</p>
        </ng-container>
    </div>
    <form #twoFactorForm="ngForm" class="login-form form" method="post" (ngSubmit)="submit()">
        <div class="ae-input mb-10">
            <label class="ae-text-gris-dark">{{ 'EnterCode' | localize }}</label>
            <input #passwordInput="ngModel" autoFocus [(ngModel)]="code"
                class="form-control form-control-solid h-auto py-3 px-6 rounded-lg fs-h6" type="password"
                autocomplete="new-password" placeholder="{{ 'Code' | localize }} *" name="code" required
                maxlength="16" />
            <validation-messages [formCtrl]="passwordInput"></validation-messages>
        </div>

        <!-- <div class="mb-5 mt-4" *ngIf="s('Abp.Zero.UserManagement.TwoFactorLogin.IsRememberBrowserEnabled') === 'true'">
            <label class="form-check form-check-custom form-check-solid py-1">
                <input type="checkbox" name="rememberClient" [(ngModel)]="loginService.authenticateModel.rememberClient"
                    class="form-check-input" value="true" />
                <span class="form-check-label">
                    {{ 'RememberThisBrowser' | localize }}
                </span>
            </label>
        </div> -->

        <div class="pb-lg-0 pb-5 flex align-items-center flex-column">
            <button type="submit" class="ae-btn ae-btn--primary w-full fw-bold mb-4"
                [disabled]="!twoFactorForm.form.valid">
                {{ 'Submit' | localize }}
            </button>
            <span class="ae-text-dark ae-text-default ae-text-center" *ngIf="remainingSeconds >= 0">
                {{ 'RemainingTime' | localize }}: <br> {{ 'SecondShort{0}' | localize : remainingSeconds }}.
            </span>
        </div>
    </form>
</div>