<div class="login-form login-form-scroll" [@routerTransition]>
    <button
        [disabled]="saving"
        routerLink="/account/login"
        type="button"
        class="ae-btn ae-btn--transparent ae-button--back fw-bolder"
    >
        <i class="ae-text-black pi pi-arrow-left"></i>
        <span>{{ 'Back' | localize }}</span>
    </button>
    <div class="ae-login__title">
        <h3 class="fw-bold ae-text-dark mb-7">{{ 'SignUp' | localize }}</h3>
        <p class="ae-text-dark ae-text-small mb-6">{{ 'MarkedFields' | localize }}</p>
    </div>
    <form #registerForm="ngForm" class="login-form form" method="post" novalidate (ngSubmit)="save()">
        <div class="ae-input mb-5">
            <label>{{ 'EmailEn' | localize }} *</label>
            <input
                #emailAddressInput="ngModel"
                class="form-control"
                placeholder="{{ 'EmailEn' | localize }}"
                [(ngModel)]="model.emailAddress"
                name="EmailAddress"
                required
                maxlength="256"
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
            />
            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
        </div>
        <div class="ae-input mb-5">
            <label>{{ 'Password' | localize }} *</label>
            <div class="ae-input__group">
                <input
                    [type]="passwordFieldType"
                    name="Password"
                    class="form-control"
                    [(ngModel)]="model.password"
                    #Password="ngModel"
                    placeholder="{{ 'Password' | localize }}"
                    validateEqual="PasswordRepeat"
                    reverse="true"
                    [requireDigit]="passwordComplexitySetting.requireDigit"
                    [requireLowercase]="passwordComplexitySetting.requireLowercase"
                    [requireUppercase]="passwordComplexitySetting.requireUppercase"
                    [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                    [requiredLength]="passwordComplexitySetting.requiredLength"
                    required
                    pPassword
                    [promptLabel]="l('PleaseEnterYourNewPassword')"
                    [weakLabel]="l('weak')"
                    [mediumLabel]="l('medium')"
                    [strongLabel]="l('strong')"
                    maxlength="20"
                />
                <i (click)="togglePasswordVisibility()" class="pi" [ngClass]="{'pi-eye-slash' : !showPassword,'pi-eye' : showPassword}"></i>
            </div>
        </div>
        <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="mb-5">
            <ul class="form-text text-danger" *ngIf="Password.errors">
                <li [hidden]="!Password.errors.requireDigit">
                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireLowercase">
                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireUppercase">
                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireNonAlphanumeric">
                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requiredLength">
                    {{ 'PasswordComplexity_RequiredLength_Hint' | localize : passwordComplexitySetting.requiredLength }}
                </li>
            </ul>
        </div>
        <div class="ae-radiobutton">
            <label>¿Qué tipo de registro? *</label>
            <div class="flex align-items-center">
                <div class="ae-radiobutton__item">
                    <p-radioButton
                        #typeUserInput="ngModel"
                        name="typeUser"
                        [(ngModel)]="model.typeUser"
                        value="1"
                        inputId="typeUser1"
                        label="Persona Jurídica"
                        required
                    ></p-radioButton>
                </div>
                <div class="ae-radiobutton__item">
                    <p-radioButton
                        #typeUserInput="ngModel"
                        name="typeUser"
                        [(ngModel)]="model.typeUser"
                        value="2"
                        inputId="typeUser2"
                        label="Persona Natural"
                        required
                    ></p-radioButton>
                </div>
            </div>
            <validation-messages [formCtrl]="typeUserInput"></validation-messages>
        </div>
        <div class="ae-checkbox flex alig-items-center">
            <p-checkbox 
                class="ae-text-dark ae-text-small mr-3"
                value="val1"
                [(ngModel)]="model.agree"
                inputId="agree">
            </p-checkbox>
            <label 
                for="agree"
                class="ae-text-dark ae-text-small"
                >
                Al continuar estoy de acuerdo con los <a href="https://www.site.monetae.io/terminos-y-condiciones" target="_blank">términos y condiciones</a> de servicio y <a href="https://www.site.monetae.io/politica-de-privacidad" target="_blank">política de privacidad.</a>
            </label>
        </div>
        <div class="ae-login__actions pb-lg-0 pb-5">
            <button
                type="submit"
                class="ae-btn ae-btn--primary w-full fw-bolder fs-h6"
                [disabled]="!registerForm.form.valid"
                [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')"
            >
                <!-- <i class="fa fa-check"></i> -->
                {{ 'Next2' | localize }}
            </button>
        </div>
    </form>
</div>
