<div class="login-form" [@routerTransition]>
    <button
        [disabled]="saving"
        routerLink="/account/login"
        type="button"
        class="ae-btn ae-btn--transparent ae-button--back fw-bolder"
    >
        <i class="ae-text-black pi pi-arrow-left"></i>
        <span>{{ 'Back' | localize }}</span>
    </button>
    <div class="ae-login__title">
        <h3 class="fw-bold ae-text-dark mb-7">{{ 'SignUp' | localize }}</h3>
        <p class="ae-text-dark ae-text-small mb-6">{{ 'MarkedFields' | localize }}</p>
    </div>
    <form #registerForm="ngForm" class="login-form form" method="post" novalidate (ngSubmit)="save()">
        <!-- <div class="mb-5">
            <input
                #nameInput="ngModel"
                class="form-control form-control-solid h-auto py-3 px-6 rounded-lg fs-h6"
                autoFocus
                type="text"
                placeholder="{{ 'Name' | localize }} *"
                [(ngModel)]="model.name"
                name="Name"
                required
                minlength="3"
                maxlength="50"
                pattern="^(?!\s)(.*\S)?(?<!\s)$"
            />
            <validation-messages [formCtrl]="nameInput"></validation-messages>
        </div>

        <div class="mb-5">
            <input
                #surnameInput="ngModel"
                class="form-control form-control-solid h-auto py-3 px-6 rounded-lg fs-h6"
                type="text"
                placeholder="{{ 'Surname' | localize }} *"
                [(ngModel)]="model.surname"
                name="Surname"
                required
                minlength="3"
                maxlength="50"
                pattern="^(?!\s)(.*\S)?(?<!\s)$"
            />
            <validation-messages [formCtrl]="surnameInput"></validation-messages>
        </div> -->

        <div class="ae-input mb-5">
            
            <label>{{ 'EmailEn' | localize }} *</label>
            <input
                #emailAddressInput="ngModel"
                class="form-control"
                placeholder="{{ 'EmailEn' | localize }} *"
                [(ngModel)]="model.emailAddress"
                name="EmailAddress"
                required
                maxlength="256"
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
            />
            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
        </div>

        <!-- <div class="mb-5">
            <input
                #userNameInput="ngModel"
                class="form-control form-control-solid h-auto py-3 px-6 rounded-lg fs-h6"
                type="text"
                autocomplete="new-password"
                placeholder="{{ 'UserName' | localize }} *"
                name="UserName"
                [(ngModel)]="model.userName"
                required
                minlength="6"
                maxlength="20"
                pattern="^(?!\s)(.*\S)?(?<!\s)$"
            />
            <validation-messages [formCtrl]="userNameInput"></validation-messages>
        </div> -->

        <div class="mb-5 ae-input">
            <label>{{ 'Password' | localize }} *</label>
            <div class="ae-input__group">
                <input
                    [type]="passwordFieldType"
                    name="Password"
                    class="form-control"
                    [(ngModel)]="model.password"
                    #Password="ngModel"
                    placeholder="{{ 'Password' | localize }} *"
                    validateEqual="PasswordRepeat"
                    reverse="true"
                    [requireDigit]="passwordComplexitySetting.requireDigit"
                    [requireLowercase]="passwordComplexitySetting.requireLowercase"
                    [requireUppercase]="passwordComplexitySetting.requireUppercase"
                    [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                    [requiredLength]="passwordComplexitySetting.requiredLength"
                    required
                    pPassword
                    [promptLabel]="l('PleaseEnterYourNewPassword')"
                    [weakLabel]="l('weak')"
                    [mediumLabel]="l('medium')"
                    [strongLabel]="l('strong')"
                    maxlength="20"
                />
                <i (click)="togglePasswordVisibility()" class="pi" [ngClass]="{'pi-eye-slash' : !showPassword,'pi-eye' : showPassword}"></i>
            </div>
            
        </div>

        <div class="ae-checkbox">
            <p-checkbox 
                value="val1" 
                label="Al continuar estoy de acuerdo con los términos y condiciones de servicio y política de privacidad ."
                [(ngModel)]="model.agree">
            </p-checkbox>
        </div>

        <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="mb-5">
            <ul class="form-text text-danger" *ngIf="Password.errors">
                <li [hidden]="!Password.errors.requireDigit">
                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireLowercase">
                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireUppercase">
                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requireNonAlphanumeric">
                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                </li>
                <li [hidden]="!Password.errors.requiredLength">
                    {{ 'PasswordComplexity_RequiredLength_Hint' | localize : passwordComplexitySetting.requiredLength }}
                </li>
            </ul>
        </div>

        <!-- <div class="mb-5">
            <input
                type="password"
                name="PasswordRepeat"
                class="form-control form-control-solid h-auto py-3 px-6 rounded-lg fs-h6"
                [ngModel]="model.passwordRepeat"
                #PasswordRepeat="ngModel"
                placeholder="{{ 'PasswordRepeat' | localize }}"
                validateEqual="Password"
                reverse="false"
                [requireDigit]="passwordComplexitySetting.requireDigit"
                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                [requiredLength]="passwordComplexitySetting.requiredLength"
                required
            />
        </div> -->

        <!-- <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="mb-5">
            <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                <li [hidden]="!PasswordRepeat.errors.requireDigit">
                    {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                    {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                    {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">
                    {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                </li>
                <li [hidden]="!PasswordRepeat.errors.requiredLength">
                    {{ 'PasswordComplexity_RequiredLength_Hint' | localize : passwordComplexitySetting.requiredLength }}
                </li>
                <li [hidden]="PasswordRepeat.valid">{{ 'PasswordsDontMatch' | localize }}</li>
            </ul>
        </div> -->

        <div class="ae-login__actions pb-lg-0 pb-5">
            
            <button
                type="submit"
                class="ae-btn ae-btn--primary w-full fw-bolder fs-h6"
                [disabled]="!registerForm.form.valid"
                [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')"
            >
                <!-- <i class="fa fa-check"></i> -->
                {{ 'Next2' | localize }}
            </button>
        </div>
    </form>
</div>
