<div class="ae-tabs">
  <p-tabMenu
      [model]="menuItems"
      [activeItem]="activeItem"
      (activeItemChange)="onActiveItemChange($event)"
  ></p-tabMenu>
</div>
 
<div class="ae-tabs__container" *ngIf="activeItem.label == 'Enviar'">
  <div class="ae-tabs__container--content">
    <p class="ae-text-dark ae-text-default">Registre la siguiente información para realizar una solicitud de envió.</p>
    <small class="ae-text-gris-dark ae-text-small fw-normal">Por favor, asegúrate de elegir la criptomoneda y red correcta al realizar una transacción.
      Si envías criptomonedas a una dirección equivocada, podrías perder tus activos.</small>
  </div>
  <div class="ae-tabs__container--actions">
    <p-button label="Cancelar" class="ae-button ae-button--default" (click)="onCancel()"></p-button>
    <p-button label="Continuar" class="ae-button ae-button--primary" (click)="onAccept()"></p-button>
  </div>
</div>
<div class="ae-tabs__container" *ngIf="activeItem.label == 'Recibir'">
  <div class="ae-tabs__container--content">
    <p class="ae-text-dark ae-text-default">Registre la siguiente información para realizar una solicitud de recibida.</p>
  </div>
  <div class="ae-tabs__container--actions">
    <p-button label="Cancelar" class="ae-button ae-button--default" (click)="onCancel()"></p-button>
    <p-button label="Generar QR" class="ae-button ae-button--primary" (click)="onAccept()"></p-button>
  </div>
</div>