<div class="login-form" [@routerTransition]>

    <button
        [disabled]="saving"
        routerLink="/account/login"
        type="button"
        class="ae-btn ae-btn--transparent ae-button--back fw-bolder"
    >
        <i class="ae-text-black pi pi-arrow-left"></i>
        <span>{{ 'Back' | localize }}</span>
    </button>

    <div class="ae-login__title">
        <h3 class="fw-bold ae-text-dark mb-8">{{ 'Email:ButtonResetPassword' | localize }}</h3>
    </div>

    <form class="login-form form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
        <div class="ae-input mb-8">
            <label>{{ 'EmailEn' | localize }}</label>
            <input
                #emailAddressInput="ngModel"
                [(ngModel)]="model.emailAddress"
                autoFocus
                class="form-control"
                type="text"
                autocomplete="new-password"
                placeholder="{{ 'EmailEn' | localize }}"
                name="emailAddress"
                required
                maxlength="256"
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                email
            />
            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
        </div>

        <p class="ae-text-dark ae-text-small mb-10">
            {{ 'SendPasswordResetLink_Information' | localize }}
        </p>

        <div class="ae-login__actions">
            <button
                type="submit"
                class="ae-btn ae-btn--primary w-full fw-bolder fs-h6"
                [disabled]="!forgotPassForm.form.valid"
                [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')"
            >
                {{ 'Next2' | localize }}
            </button>
        </div>
    </form>
</div>
