<div
    bsModal
    #memberFiatChangeStatusModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="memberFiatChangeStatusModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #changeStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <div>
                        <h4 class="modal-title">
                            <span>{{ l('StatusChange') }}</span>
                        </h4>
                        <h6 class="mt-2 text-danger">{{ l('Folio') }}: {{ fiat.mntMemberFiat.folio }}</h6>
                        <h6 class="mt-2 text-gray-600">
                            {{ fiat.mntMemberFiat.userFk.name + ' ' + fiat.mntMemberFiat.userFk.surname }}
                            <span class="badge text-bg-secondary text-gray-800">
                                {{ fiat.mntMemberFiat.userFk.emailAddress }}
                            </span>
                        </h6>
                    </div>

                    <button class="btn btn-secondary rounded-circle btn-sm close" (click)="close()">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-5">
                        <label class="mb-3">{{ l('StatusChangeAsk') }} *</label>
                        <div class="row">
                            <div class="col-sm-10 offset-sm-1">
                                <p-dropdown
                                    #MntMemberFiatStatus="ngModel"
                                    id="MntMemberFiatStatus"
                                    name="MntMemberFiatStatus"
                                    [options]="statusOptions"
                                    [(ngModel)]="request.status"
                                    placeholder="{{ l('SelectTreeDots') }}"
                                    required
                                ></p-dropdown>
                                <validation-messages [formCtrl]="MntMemberFiatStatus"></validation-messages>
                            </div>
                        </div>
                    </div>

                    <div
                        class="form-group mb-5"
                        *ngIf="
                            request.status != fiat.mntMemberFiat.status &&
                            (request.status == status.Approved || request.status == status.Refused)
                        "
                    >
                        <label class="mb-3">{{ l('Comments') }}</label>
                        <p-editor
                            #comments="ngModel"
                            id="comments"
                            name="comments"
                            [(ngModel)]="request.mntMemberRequestLog.comment"
                            [style]="{ height: '200px' }"
                            [disabled]="request.status == status.Approved || request.status == status.Refused"
                        >
                            <ng-template pTemplate="header">
                                <span class="ql-formats">
                                    <button type="button" class="ql-bold"></button>
                                    <button type="button" class="ql-italic"></button>
                                    <button type="button" class="ql-underline"></button>
                                    <button type="button" class="ql-strike"></button>
                                    <button type="button" class="ql-list" value="ordered"></button>
                                    <button type="button" class="ql-list" value="bullet"></button>
                                    <button class="ql-script" value="sub"></button>
                                    <button class="ql-script" value="super"></button>
                                    <button type="button" class="ql-clean"></button>
                                    <select class="ql-color"></select>
                                    <select class="ql-background"></select>
                                    <button type="button" class="ql-link"></button>
                                </span>
                            </ng-template>
                        </p-editor>
                        <p-checkbox
                            #isSendUserEmail="ngModel"
                            id="isSendUserEmail"
                            name="isSendUserEmail"
                            label="{{ 'IncludeCommentsToNotificationEmail' | localize }}"
                            [binary]="true"
                            [(ngModel)]="request.mntMemberRequestLog.isSendUserEmail"
                            [disabled]="
                                request.mntMemberRequestLog.comment == null &&
                                (request.status == status.Approved || request.status == status.Refused)
                            "
                            class="mt-4"
                        ></p-checkbox>
                    </div>

                    <div class="row p-2 mt-4">
                        <div class="col-sm-8 offset-sm-2">
                            <button
                                type="submit"
                                class="btn btn-primary w-100"
                                [disabled]="
                                    !changeStatusForm.form.valid || request.status === fiat.mntMemberFiat.status
                                "
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                            >
                                <span>{{ l('Save') }}</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
