<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l('Details') }}</span>
                </h4>

                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{ l('IdentityId') }} :</h6>
                        {{ item.mntMemberIdentity.identityId }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Expiration') }} :</h6>
                        {{ item.mntMemberIdentity.expiration | luxonFormat : 'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('FrontPicture') }} :</h6>
                        {{ item.mntMemberIdentity.frontPicture }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('BackPicture') }} :</h6>
                        {{ item.mntMemberIdentity.backPicture }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{ l('Selfie') }} :</h6>
                        {{ item.mntMemberIdentity.selfie }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{ l('CatIdentityType') }}) {{ l('Title') }} :</h6>
                        {{ item.catIdentityTypeTitle }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{ l('MntMember') }}) {{ l('Comments') }} :</h6>
                        {{ item.mntMemberComments }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">
                    {{ l('Close') }}
                </button>
            </div>
        </div>
    </div>
</div>
