<div class="ae-table mt-8">
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table
            #dataTable
            (onLazyLoad)="getAllOtc($event)"
            [value]="primengTableHelper.records"
            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
            [paginator]="false"
            [lazy]="true"
            [scrollable]="true"
            ScrollWidth="100%"
            selectionMode="single"
            [(selection)]="selectedCurrency"
            (onRowSelect)="onRowSelect($event)"
            (onRowUnselect)="onResetCurrency($event)"
            dataKey="id"
            [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns"
            [filterDelay]="0"
            [globalFilterFields]="['otcCoin.name', 'otcCoin.key']"
        >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center m-0 p-0">
                    <!--<span class="p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                            placeholder=""
                        />
                    </span>-->
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        {{ l('Active') }}
                    </th>
                    <th>
                        {{ l('Gráfico') }}
                        <!-- {{ l('PurchasePrice') }} -->
                    </th>
                    <th>
                        {{ l('Change24h') }}
                    </th>
                    <th>
                        {{ l('% del total') }}
                    </th>
                    <th>
                        {{ l('Cantidad') }}
                        <!-- {{ l('SalePrice') }} -->
                    </th>
                    <th style="width: 100px">
                        <!-- {{ l('Actions') }} -->
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                <tr [pSelectableRow]="record.otcCoin">
                    <td>
                        <div class="flex align-items-center">
                            <div class="mr-4">
                                <img
                                    src="/assets/crypto-icons/{{ record.otcCoin.key | lowercase }}.png"
                                    class="crypto-icon-table"
                                    alt="{{ record.otcCoin.key }}"
                                />
                            </div>
                            <div class="ae-text__coin">
                                <p class="m-0 ae-text-dark">{{ record.otcCoin.name }}</p>
                                <span class="ae-text-gris-dark">{{ record.otcCoin.key }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="record.otcCoin.change24h > 0; else isDown">
                            <img src="/assets/common/images/icon-line-up.png" alt="Monetae" />
                        </div>
                        <ng-template #isDown>
                            <img src="/assets/common/images/icon-line-down.png" alt="Monetae" />
                        </ng-template>
                        <!-- {{ record.otcCoin.salePrice | currency : 'USD' : 'symbol' : '1.2-5' : 'en' }} -->
                    </td>
                    <td
                        [class.text-success]="record.otcCoin.change24h > 0"
                        [class.text-danger]="record.otcCoin.change24h < 0"
                    >
                        <!-- <i
                            class="la la-line-chart fs-2x"
                            [class.text-success]="record.otcCoin.change24h > 0"
                            [class.text-danger]="record.otcCoin.change24h < 0"
                            [class.rotate-180]="record.otcCoin.change24h < 0"
                        ></i> -->
                        <span class="ae-text-gris-dark">{{ record.otcCoin.change24h }}%</span>
                    </td>
                    <td>
                        <span class="ae-text-gris-dark">50%</span>
                    </td>
                    <td>
                        <span class="ae-text-gris-dark">
                            {{ record.otcCoin.purchasePrice | currency : 'USD' : 'symbol' : '1.2-5' : 'en' }}
                        </span>
                    </td>
                    <td>
                        <div class="flex">
                            <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                            <p-menu #menu [model]="itemsMenu" [popup]="true" class="ae-menuoptions"></p-menu>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{ l('NoData') }}
        </div>
    </div>
</div>

<!-- <div class="col-xs-12 col-md-4 d-flex align-items-stretch">
    <div class="card card-height-100 p-5 w-100">
        <p-tabView (onChange)="onChangeTab($event)">
            <p-tabPanel header="{{ l('Purchase') }}">
                <otc-crypto-purchase
                    #cryptoPurchase
                    [currencies]="currencies"
                    (onChange)="onChangeRequest($event)"
                    (onSave)="reloadRequests()"
                ></otc-crypto-purchase>
            </p-tabPanel>
            <p-tabPanel header="{{ l('Sale') }}">
                <otc-crypto-sale
                    #cryptoSale
                    [currencies]="currencies"
                    (onChange)="onChangeRequest($event)"
                    (onSave)="reloadRequests()"
                ></otc-crypto-sale>
            </p-tabPanel>
        </p-tabView>
    </div>
</div> -->
<!-- <div class="mt-4">
    <otc-requests-crypto #cryptoRequests></otc-requests-crypto>
</div> -->
