<div class="ae-dialog">
  <div class="ae-dialog__content">
    <div class="ae-dialog__project">
      <div class="ae-project__images">

      </div>
      <div class="ae-project__content">
        <div class="ae-title">
          <h2>
            <strong>Proyecto El Salvador </strong>
            <small> / Crowdfounding</small>
          </h2>
          <span>Inmobiliario</span>
        </div>
        <div class="ae-content">
          <p>Proyecto de crowdfunding inmobiliario "El Salvador" tiene como objetivo revolucionar 
            el mercado de bienes raíces al proporcionar una oportunidad única para inversores y 
            compradores de viviendas interesados en adquirir propiedades en una comunidad residencial 
            sostenible y moderna. Representa una combinación única de sostenibilidad ambiental, 
            ubicación estratégica, oportunidades de inversión y calidad de vida. 
            Este proyecto tiene como objetivo redefinir el estándar de la vida moderna en El Salvador 
            y brindar un espacio donde las personas puedan vivir de manera sostenible y en comunidad.</p>
            <a href=""></a>
            <div class="ae-content__objetive flex justify-content-between gap-2">
              <div class="flex align-items-center">
                  <h2 class="ae-text-primary fw-bold mb-0 mr-2">$8M</h2>
                  <span class="ae-text-gris-dark fw-semibold">30%</span>
              </div>
              <p class="ae-text-gris m-0">Objetivo: $10M USD</p>
          </div>
          <div class="ae-project__progress">
              <div
                  class="progress"
                  role="progressbar"
                  aria-valuenow="85"
                  aria-valuemin="0"
                  aria-valuemax="100"
              >
                  <div class="progress-bar ae-bg-primary" style="width: 85%"></div>
              </div>
          </div>
          <div class="flex justify-content-between gap-2">
              <div class="ae-content__item flex align-items-center">
                  <p class="mb-0 mr-2 ae-text-gris">Retorno</p>
                  <span class="ae-text-dark fw-semibold">18%</span>
              </div>
              <div class="ae-content__item flex align-items-center">
                  <i class="pi pi-user mr-2 ae-text-gris"></i>
                  <span class="ae-text-dark fw-semibold">223</span>
              </div>
              <div class="ae-content__item flex align-items-center">
                  <i class="pi pi-clock mr-2 ae-text-gris"></i>
                  <span class="ae-text-dark fw-semibold">46 Días</span>
              </div>
          </div>
        </div>
        <div class="ae-actions">
          <button type="button" class="ae-btn ae-btn--primary">Ver contrato</button>
          <button type="button" class="ae-btn ae-btn--primary">Invertir</button>
        </div>
      </div>
    </div>
  </div>
</div>