<div class="ae-dialog__header flex align-items-center justify-content-center">
    <i class="pi pi-arrow-left ae-text-dark mr-3" (click)="onCancel()"></i>
    <h2 class="ae-text-dark fw-bold">Resumen de solicitud de retiro</h2>
  </div>
  <div class="ae-dialog__content">
    <div class="ae-table__resumen">
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Cuenta destino</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-gris-network ae-text-default w-full">{{ destinationAccount }}</span>
            </div>
        </div>
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Fecha</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-gris-dark ae-text-default w-full">{{ dateTime }}</span>
            </div>
        </div>
        <div class="ae-resumen__item flex align-items-center justify-content-between">
            <div class="ae-description">
                <p class="ae-text-dark ae-text-default w-full">Total</p>
            </div>
            <div class="ae-content">
                <span class="ae-text-primary ae-text-default w-full">$ {{ resumenWithdraw.amount }}</span>
            </div>
        </div>
    </div>
  </div>
  <div class="ae-dialog__actions">
    <button
        type="button" 
        class="ae-button ae-button--component ae-button--primary w-full"
        [disabled]="saving" 
        (click)="onRequestSend()">
        Solicitar retiro
    </button>
  </div>