<div
    appBsModal
    #changePasswordModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="ae-dialog ae-dialog--md modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #changePasswordModalForm="ngForm" (ngSubmit)="save()">
                <div class="ae-dialog__header flex align-items-center justify-content-center">
                    <i class="pi pi-arrow-left ae-text-dark mr-3" (click)="close()"></i>
                    <h2 class="ae-text-dark fw-bold">{{ 'ChangePassword' | localize }}</h2>
                </div>
                <div class="ae-dialog__content">
                    <div class="ae-input">
                        <label for="CurrentPassword">{{ 'CurrentPassword' | localize }}</label>
                        <div class="ae-input__group">
                            <input
                                id="CurrentPassword"
                                #currentPasswordInput="ngModel"
                                [type]="passwordFieldType"
                                name="CurrentPassword"
                                class="form-control"
                                [(ngModel)]="currentPassword"
                                required
                            />
                            <i (click)="togglePasswordVisibility()" class="pi" [ngClass]="{'pi-eye-slash' : !showPassword,'pi-eye' : showPassword}"></i>
                        </div>
                        <validation-messages [formCtrl]="currentPasswordInput"></validation-messages>
                    </div>
                    <div class="ae-input">
                        <label for="NewPassword">{{ 'NewPassword' | localize }}</label>
                        <div class="ae-input__group">
                            <input
                                id="NewPassword"
                                [type]="newPasswordFieldType"
                                name="NewPassword"
                                class="form-control"
                                [(ngModel)]="password"
                                #NewPassword="ngModel"
                                validateEqual="NewPasswordRepeat"
                                reverse="true"
                                [requireDigit]="passwordComplexitySetting.requireDigit"
                                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                [requiredLength]="passwordComplexitySetting.requiredLength"
                                required
                            />
                            <i (click)="toggleNewPasswordVisibility()" class="pi" [ngClass]="{'pi-eye-slash' : !showNewPassword,'pi-eye' : showNewPassword}"></i>
                        </div>
                    </div>
                    <div [hidden]="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
                        <ul class="help-block text-danger" *ngIf="NewPassword.errors">
                            <li [hidden]="!NewPassword.errors.requireDigit">
                                {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                            </li>
                            <li [hidden]="!NewPassword.errors.requireLowercase">
                                {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                            </li>
                            <li [hidden]="!NewPassword.errors.requireUppercase">
                                {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                            </li>
                            <li [hidden]="!NewPassword.errors.requireNonAlphanumeric">
                                {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                            </li>
                            <li [hidden]="!NewPassword.errors.requiredLength">
                                {{
                                    'PasswordComplexity_RequiredLength_Hint'
                                        | localize: passwordComplexitySetting.requiredLength
                                }}
                            </li>
                        </ul>
                    </div>
                    <div class="ae-input">
                        <label for="NewPasswordRepeat">{{ 'NewPasswordRepeat' | localize }}</label>
                        <div class="ae-input__group">
                            <input
                                id="NewPasswordRepeat"
                                [type]="repeatPasswordFieldType"
                                name="NewPasswordRepeat"
                                class="form-control"
                                [ngModel]="confirmPassword"
                                #NewPasswordRepeat="ngModel"
                                validateEqual="NewPassword"
                                [requireDigit]="passwordComplexitySetting.requireDigit"
                                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                [requiredLength]="passwordComplexitySetting.requiredLength"
                                reverse="false"
                                required
                            />
                            <i (click)="toggleRepeatPasswordVisibility()" class="pi" [ngClass]="{'pi-eye-slash' : !showRepeatPassword,'pi-eye' : showRepeatPassword}"></i>
                        </div>
                    </div>
                    <div [hidden]="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
                        <ul class="help-block text-danger" *ngIf="NewPasswordRepeat.errors">
                            <li [hidden]="!NewPasswordRepeat.errors.requireDigit">
                                {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
                            </li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireLowercase">
                                {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
                            </li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireUppercase">
                                {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
                            </li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireNonAlphanumeric">
                                {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
                            </li>
                            <li [hidden]="!NewPasswordRepeat.errors.requiredLength">
                                {{
                                    'PasswordComplexity_RequiredLength_Hint'
                                        | localize: passwordComplexitySetting.requiredLength
                                }}
                            </li>
                            <li [hidden]="NewPasswordRepeat.valid">{{ 'PasswordsDontMatch' | localize }}</li>
                        </ul>
                    </div>
                </div>
                <div class="ae-dialog__actions mt-10">
                    <button
                        type="submit"
                        class="ae-btn ae-btn--primary fw-bold w-full"
                        [disabled]="!changePasswordModalForm.form.valid || saving"
                    >
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
