<div
    appBsModal
    #smsVerificationModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="ae-dialog ae-dialog--sm modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #smsVerificationModalForm="ngForm" (ngSubmit)="save()">
                <div class="ae-dialog__header flex align-items-center justify-content-center">
                    <i class="pi pi-arrow-left ae-text-dark mr-3" (click)="close()"></i>
                    <h2 class="ae-text-dark fw-bold">{{ 'VerifyYourCode' | localize }}</h2>
                </div>
                <div class="ae-dialog__content">
                    <div id="inputDiv" class="ae-input">
                        <label for="YourCode">{{ 'YourCode' | localize }} *</label>
                        <input
                            id="YourCode"
                            #codeInput="ngModel"
                            class="form-control"
                            autoFocus
                            type="text"
                            name="Code"
                            [(ngModel)]="verifyCodeInput.code"
                            required
                            maxlength="6"
                            minlength="6"
                        />
                        <validation-messages [formCtrl]="codeInput"></validation-messages>
                    </div>
                </div>
                <div class="ae-dialog__actions text-right mt-10">
                    <button
                        type="submit"
                        class="ae-btn ae-btn--primary"
                        [disabled]="!smsVerificationModalForm.form.valid || saving"
                    >
                        <span>{{ 'Verify' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
