@use "sass:map";
@import "variables/colors";

:root{
    --ae-primary: #{map-get($theme-colors,"primary")};
    --ae-secondary: #{map-get($theme-colors,"secondary")};
    --ae-secondary-hover: #{map-get($theme-colors,"secondary-hover")};
    --ae-gris: #{map-get($theme-colors,"gris")};
    --ae-gris-light: #{map-get($theme-colors,"gris-light")};
    --ae-gris-dark: #{map-get($theme-colors,"gris-dark")};
    --ae-gris-network: #{map-get($theme-colors,"gris-network")};
    --ae-grey: #{map-get($theme-colors,"grey")};
    --ae-dark: #{map-get($theme-colors,"dark")};
    --ae-black: #{map-get($theme-colors,"black")};
    --ae-text: #{map-get($theme-colors,"text")};
    --ae-white: #{map-get($theme-colors,"white")};
    --ae-success: #{map-get($theme-colors,"green")};
    --ae-warning: #{map-get($theme-colors,"orange")};
    --ae-danger: #{map-get($theme-colors,"red")};
}