@import "variables";
@import "../../../node_modules/primeflex/primeflex.min.css";

*{
    box-sizing: border-box;
}
// :root,
// [data-theme=light] {
//     --ae-dark: var(--ae-dark);
// }
// [data-theme=dark] {
//     --ae-dark: #FFFFFF;
// }
.ae-text-xsmall{
    font-size: 10px !important;
}
.ae-text-small{
    font-size: 12px !important;
}
.ae-text-default{
    font-size: 14px !important;
}
.ae-text-medium{
    font-size: 16px !important;
}
.ae-text-large{
    font-size: 18px !important;
}
.ae-text-xlarge{
    font-size: 20px !important;
}
.ae-text-black{
    color: var(--ae-black) !important;
}
.ae-text-black{
    color: var(--ae-black) !important;
}
.ae-text-dark{
    color: var(--ae-dark) !important;
}
.ae-text-gris{
    color: var(--ae-gris) !important;
}
.ae-text-gris-dark{
    color: var(--ae-gris-dark) !important;
}
.ae-text-gris-light{
    color: var(--ae-gris-light) !important;
}
.ae-text-gris-network{
    color: var(--ae-gris-network) !important;
}
.ae-text-primary{
    color: var(--ae-primary) !important;
}
.ae-text-success{
    color: var(--ae-success) !important;
}
.ae-text-warning{
    color: var(--ae-warning) !important;
}
.ae-text-danger{
    color: var(--ae-danger) !important;
}
.ae-bg-primary{
    background-color: var(--ae-primary) !important;
}
.ae-bg-secondary{
    background-color: var(--ae-secondary) !important;
}
.ae-text-center{
    text-align: center;
}

.ae-container{
    width: 100%;
    max-width: 1080px;
    margin: 20px auto;
}

.ae-btn{
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 14px;
    background-color: transparent;
    border-radius: 12px;
    height: 45px;
    padding: 0 20px;
    -webkit-transition: background-color .35s ease-in-out;
    -moz-transition: background-color .35s ease-in-out;
    -ms-transition: background-color .35s ease-in-out;
    -o-transition: background-color .35s ease-in-out;
    transition: background-color .35s ease-in-out;
    &.border-middle{
        border-radius: 16px;
    }
    &--primary{
        background-color: var(--ae-primary);
        color: #FFFFFF;
    }
    &--secondary{
        background-color: var(--ae-secondary);
        color: var(--ae-primary);
        &:HOVER{
            background-color: var(--ae-secondary-hover);
        }
    }
    &--default{
        border: 1px solid #F0F0F0;
        color: var(--ae-dark) !important;
    }
    &--transparent{
        border: none;
        color: var(--ae-dark) !important;
        i{
            color: var(--ae-dark);
            margin-right: 8px;
            font-size: 16px;
            vertical-align: middle;
        }
        &[disabled]{
            background-color: transparent !important;
            i{
                color: var(--ae-dark) !important;
            }
        }
    }
    &[disabled]{
        background-color: var(--ae-gris);
        i{
            color: #FFFFFF;
        }
    }
}
.ae-button{
    .p-button{
        box-shadow: none !important;
        outline: none !important;
        border: none;
        font-size: 14px;
        background-color: transparent;
        border-radius: 12px;
        height: 40px;
        justify-content: center;
        margin: 8px 0;
        width: 100%;
        &.p-disabled{
            pointer-events: none;
        }
    }
    span{
        font-weight: 600;
    }
    .p-button-label{
        font-weight: 600;
        width: 100%;
        max-width: max-content;
    }
    &--primary{
        .p-button{
            background-color: var(--ae-primary) !important;
            color: #FFFFFF;
        }
    }
    &--secondary{
        .p-button{
            background-color: var(--ae-secondary) !important;
            color: var(--ae-primary);
        }
    }
    &--default{
        .p-button{
            border: none !important;
            color: var(--ae-dark) !important;
            background-color: transparent !important;
        }
    }
    &--transparent{
        i{
            color: var(--ae-dark);
            margin-right: 5px;
        }
        .p-button{
            border: none;
            color: var(--ae-dark) !important;
        }
    }
    &[disabled]{
        background-color: var(--ae-gris);
        i{
            color: #FFFFFF;
            font-size: 16px;
        }
    }
    &--verify{
        width: 100%;
        max-width: max-content;
    }
    &--component{
        box-shadow: none;
        outline: none;
        border: none;
        font-size: 14px;
        background-color: transparent;
        border-radius: 12px;
        height: 40px;
        justify-content: center;
        margin: 8px 0;
        width: 100%;
        &.ae-button--primary{
            background-color: var(--ae-primary);
            color: #FFFFFF;
        }
        &.ae-button--secondary{
            background-color: var(--ae-secondary);
            color: var(--ae-primary);
        }
        &.ae-button--default{
            color: var(--ae-dark);
            background-color: transparent;
        }
        &.ae-button--transparent{
            color: var(--ae-dark);
            i{
                color: var(--ae-dark);
                margin-right: 5px;
            }
        }
    }
}
.ae-button--back{
    position: absolute;
    top: 36px;
    left: 16px;
}
.ae-selectinput,
.ae-input{
    .formgroup-control{
        height: 38px;
        &:has(.form-control.ng-dirty.ng-valid){
            margin: 0 !important;
        }
        .form-control{
            padding-right: 45px;
        }
    }
    .form-control{
        border: 1px solid var(--ae-grey) !important;
        background-color: #FFFFFF;
        height: 38px;
        border-radius: 6px;
        padding: 6px 12px;
    }
    &__group{
        position: relative;
        .pi{
            position: absolute;
            right: 15px;
            z-index: 10;
            top: 10px;
            font-size: 20px;
            cursor: pointer;
        }
        .ae-input__coin{
            background-color: #E9ECEF;
            width: 100%;
            max-width: max-content;
            height: 100%;
            padding: 5px 12px;
            position: absolute;
            border: 1px solid var(--ae-gris-light);
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
        }
    }
    .spin-validation{
        top: -34px !important;
    }
}
.ae-inputnumber{
    .p-inputwrapper{
        width: 100%;
        .p-inputnumber{
            width: 100%;
            .p-inputnumber-input{
                border-color: var(--ae-grey) !important;
                background-color: #FFFFFF;
                height: 38px;
                border-radius: 6px;
                padding: 6px 12px;
                box-shadow: none !important;
            }
        }
        &.p-inputNumber--space{
            .p-inputnumber{
                .p-inputnumber-input{
                    padding-left: 64px;
                }
            }
        }
    }
    .ae-inputnumber__group{
        position: relative;
        .ae-inputnumber__coin{
            background-color: #E9ECEF;
            width: 100%;
            max-width: max-content;
            height: 100%;
            padding: 5px 12px;
            position: absolute;
            border: 1px solid var(--ae-gris-light);
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
        }
        .ae-inputnumber__max{
            cursor: pointer;
            position: absolute;
            right: 0;
            height: 100%;
            top: 0;
            bottom: 0;
            right: 16px;
        }
    }
}
.ae-selectinput,
.ae-select{
    .p-dropdown{
        border: 1px solid var(--ae-grey) !important;
        background-color: #FFFFFF;
        height: 38px !important;
        border-radius: 6px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        .p-dropdown-label{
            height: 38px;
            font-size: 14px;
            font-weight: 400;
            display: flex;
            display: -webkit-flex;
            align-items: center;
        }
    }
    small{
        display: block;
        cursor: pointer;
    }
    .spin-validation{
        top: -34px !important;
    }
    .formgroup-control{
        height: 38px;
    }
    .p-overlay{
        max-width: 320px;
    }
}
.ae-selectinput{
    .p-dropdown{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        max-width: 100px;
        border: 1px solid var(--ae-grey) !important;
    }
    .form-control{
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.ae-checkbox{
    .p-checkbox-label{
        line-height: normal;
    }
    .p-checkbox{
        .p-checkbox-box{
            &.p-highlight{
                background-color: var(--ae-primary) !important;
                border-color: var(--ae-primary) !important;
                .p-checkbox-icon{
                    &::before{
                        top: 8px !important;
                        left: 2px !important;
                    }
                }
            }
        }
    }
}
.ae-calendar{
    .p-calendar-w-btn{
        border: 1px solid var(--ae-grey) !important;
        background-color: #FFFFFF;
        height: 38px;
        border-radius: 6px;
        .p-button{
            background-color: transparent !important;
            .pi{
                font-size: 20px;
                color: var(--ae-gris-dark);
            }
        }
    }
    .spin-validation{
        top: -34px !important;
    }
    .formgroup-control{
        height: 38px;
    }
}
.ae-inputcamera{
    height: 95px;
    border: 1px dashed var(--ae-grey);
    border-radius: 12px;
    cursor: pointer;
    .ae-inputcamera__icon{
        .pi{
            font-size: 28px;
            margin-bottom: 10px;
        }
    }
    p{
        font-size: 12px;
        color: var(--ae-gris);
        margin: 0;
    }
}
.ae-radiobutton{
    .ae-radiobutton__item{
        margin: 10px 0;
        margin-right: 10px;
        label{
            font-size: 12px;
            color: var(--ae-dark);
            margin-bottom: 0;
        }
    }
}
.ae-upload{
    .p-fileupload-buttonbar{
        border: 1px dashed var(--ae-grey) !important;
        border-radius: 12px !important;
        position: relative;
        height: 95px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        .p-fileupload-choose{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
        }
        .ae-upload__header{
            text-align: center;
            .pi{
                font-size: 32px;
            }
        }
    }
    .p-fileupload-content{
        border: none !important;
        padding: 0 12px !important;
        .p-button-icon-only{
            background-color: var(--ae-primary) !important;
        }
    }
}
.ae-radiobutton,
.ae-inputcamera,
.ae-calendar,
.ae-input,
.ae-inputnumber,
.ae-select,
.ae-selectinput,
.ae-upload{
    margin: 12px 0;
    label{
        display: block;
        color: var(--ae-text);
        margin-bottom: 5px;
        font-size: 14px;
    }
}
.ae-login__title{
    margin-bottom: 20px;
}
.ae-login__title h3{
    color: var(--ae-dark);
    font-size: 20px;
}
.ae-login__actions{
    margin: 25px 0;
}
.swal2-container{
    .swal2-modal{
        width: 100%;
        max-width: 509px;
        border-radius: 16px;
        .swal2-title{
            color: var(--ae-primary);
            font-weight: 600;
        }
    }
}
.ae-card__container{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 40px 50px;
    &--title{
        h2{
            font-size: 16px;
        }
        a{
            font-size: 14px;
            cursor: pointer;
        }
    }
}
.ae-card{
    border: 1px solid #F0F0F0;
    border-radius: 16px;
    overflow: hidden;
    &__boxshadow{
        box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.03);
    }
}
.ae-project__card{
    margin: 16px 10px;
    &:hover{
        opacity: 1 !important;
    }
    .ae-project__image{
        position: relative;
        h2{
            position: absolute;
            left: 12px;
            top: 12px;
            color: #FFFFFF;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
        }
        span{
            position: absolute;
            top: 12px;
            right: 12px;
            background-color: #F0F0F0;
            color: #878787;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            border-radius: 2px;
            padding: 0 12px;
            font-size: 10px;
        }
        img{
            &.projects-img{
                width: 100%;
            }
        }
    }
    .ae-project__content{
        padding: 12px 20px;
        .ae-content__title{
            width: 100%;
            margin-bottom: 18px;
            h5{
                width: 100%;
            }
            span{
                font-size: 10px;
                display: block;
            }
        }
        .ae-content__objetive{
            margin-bottom: 5px;
            h2{
                font-size: 14px;
            }
            span{
                font-size: 10px;
            }
            p{
                font-size: 12px;
            }
        }
        .ae-project__progress{
            padding-bottom: 18px;
            margin-bottom: 16px;
            border-bottom: 1px solid #F1F1F1;
            .progress{                    
                height: 7.13px;
                background-color: #F1F1F1;
            }
            .progress-bar{
                border-radius: 6px;
            }
        }
    }
    .ae-project__actions{
        padding: 12px 20px;
    }
}
.ae-crypto__card{
    margin: 20px 10px;
    padding: 16px;
    .ae-crypto__title{
        .ae-coin{
            width: 100%;
            max-width: 45px;
            img{
                width: 100%;
            }
        }
        .ae-text{
            h2{
                font-size: 16px;
                margin: 0;
                margin-bottom: 2px;
            }
            p{
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .ae-crypto__content{
        .ae-text{
            width: 100%;
            h2{
                font-size: 20px;
            }
        }
        .ae-graphic{
            i{
                font-size: 65px;
            }
        }
    }
}
.ae-balance{
    width: 100%;
    margin-bottom: 20px;
    &__primary{
        width: 100%;
        max-width: 435px;
        margin-right: 16px;
        .ae-balance__item{
            background-color: #FFFFFF;
            height: 118px;
            border-radius: 18px;
            padding: 20px;
            .ae-item__title{
                h2{
                    font-size: 20px;
                    color: var(--ae-dark);
                }
            }
            .ae-item__content{
                h2{
                    font-size: 30px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
    &__secondary{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        column-gap: 16px;
        row-gap: 10px;
        .ae-balance__item{
            background-color: #FFFFFF;
            height: 54px;
            border-radius: 12px;
            padding: 0 16px;
            cursor: pointer;
            .ae-item__icon{
                width: 100%;
                max-width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 5px;
                i{
                    color: #FFFFFF;
                }
            }
            .ae-item__text{
                width: 100%;
                text-align: center;
                p{
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}
.ae-card__bankaccount{
    background-color: #FBFBFB;
    border-radius: 16px;
    padding: 20px 36px;
    .ae-bankaccount__item{
        margin: 12px 0;
        .ae-text{
            width: 100%;
            padding-right: 10px;
            small{
                display: block;
                font-size: 12px;
                margin-bottom: 4px;
                color: var(--ae-gris-dark);
            }
            p{
                margin: 0;
                font-size: 14px;
                color: var(--ae-dark);
            }
        }
        .ae-icon{
            cursor: pointer;
            .pi{
                font-size: 18px;
            }
        }
    }
}
.ae-carousel{
    position: relative;
    margin-left: -45px;
    margin-right: -45px;
    .p-carousel {
        .p-carousel-indicators {
            .p-carousel-indicator{
                &.p-highlight{
                    button{
                        background-color: var(--ae-primary);
                    }
                }
                button{
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                }
            }
        }
        .p-carousel-indicators{
            position: absolute;
            bottom: -32px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 10;
        }
    }
}
.ae-table{
    .ae-table__title{
        h6{
            font-size: 16px;
        }
    }
}
.ae-modal{
    background-color: rgba(0,0,0,0.5);
    .modal-dialog{
        &.modal-sm{
            max-width: 380px;
        }
        &.modal-md{
            max-width: 460px;
        }
        .modal-content{
            border-radius: 16px;
            .ae-modal__header{
                position: relative;
                justify-content: center;
                padding: 32px 32px 16px 32px;
                border: none;
                i{
                    position: absolute;
                    left: 32px;
                    top: 36px;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
            .ae-modal__body{
                padding: 8px 32px;
            }
            .ae-modal__footer{
                padding: 12px 32px 32px 32px;
                border: none;
            }
        }
    }
}
.p-dialog-mask{
    z-index: 999 !important;
}
.ae-dialog{
    border-radius: 12px !important;
    overflow: hidden;
    max-height: 100% !important;
    &__header{
        position: relative;
        padding: 12px 24px;
        i{
            position: absolute;
            left: 0;
            top: 13px;
            font-size: 16px;
            cursor: pointer;
        }
        h2{
            font-size: 16px;
            small{
                font-size: 14px;
            }
        }
    }
    &__content{
        .ae-dialog__description{
            background-color: #E6E6E6;
            border-radius: 6px;
            padding: 12px;
        }
    }
    &.ae-dialog--sm{
        width: 100%;
        max-width: 380px;
        .ae-dialog__actions{
            display: grid;
            gap: 16px;
            grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
            .ae-button{
                .p-button-label{
                    font-size: 16px;
                }
            }
        }
    }
    &.ae-dialog--default{
        width: 100%;
        max-width: 510px;
        &.ae-dialog--sm{
            max-width: 470px;
        }
        .ae-dialog__message{
            text-align: center;
            padding: 0 20px;
            .pi{
                width: 100%;
                max-width: 73px;
                height: 73px;
                background-color: #F8F8F8;
                margin: auto;
                border-radius: 50%;
                font-size: 30px;
                margin-bottom: 24px;
            }
            h2{
                font-size: 18px;
                margin-bottom: 24px;
            }
            p{
                margin-bottom: 24px;
            }
        }
        .ae-dialog__actions{
            text-align: center;
            .ae-button{
                .p-button{
                    max-width: 355px;
                    margin: 20px auto;
                }
                .p-button-label{
                    font-size: 14px;
                }
            }
        }
    }
    &.ae-dialog--operations{
        overflow: visible;
        .p-dialog-content{
            padding: 0 !important;
            overflow: visible;
            border-bottom-left-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
            border-top-left-radius: 8px !important;
            border-top-right-radius: 8px !important;
            .ae-tabs{
                overflow: hidden;
                border-top-left-radius: 8px !important;
                border-top-right-radius: 8px !important;
                .p-tabmenu-nav {
                    border: none !important;
                    width: 100%;
                    .p-tabmenuitem{
                        width: 100%;
                        .p-menuitem-link{
                            padding: 27px 28px !important;
                            color: var(--ae-dark) !important;
                            width: 100%;
                            border-left: 1px solid var(--ae-gris-light) !important;
                            border-bottom: 1px solid var(--ae-gris-light) !important;
                            border-radius: 0 !important;
                            .p-menuitem-text{
                                margin: auto;
                            }
                        }
                        &.p-highlight{
                            .p-menuitem-link{
                                font-weight: 500 !important;
                                color: var(--ae-primary) !important;
                            }
                        }
                    }
                    .p-tabmenu-ink-bar{
                        bottom: -1px !important;
                        background-color: #FFFFFF;
                    }
                }
            }
            .ae-tabs__container{
                padding: 30px;
                .ae-tabs__container--content{
                    max-height: 500px;
                    overflow: hidden;
                    overflow-y: auto;
                }
                .ae-tabs__container--actions{
                    display: grid;
                    gap: 16px;
                    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
                    margin-top: 20px;
                    .ae-button{
                        .p-button-label{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .p-dialog-content{
        padding: 24px !important;
    }
}
.ae-tabs{
    .p-tabmenu-nav {
        border-bottom: 2px solid var(--ae-gris-light) !important;
        .p-tabmenuitem{
            .p-menuitem-link{
                border: none !important;
                color: var(--ae-gris) !important;
                font-weight: 500 !important;
                padding: 13px 28px !important;
                font-size: 16px;
                background-color: #FFFFFF !important;
            }
            &.p-highlight{
                .p-menuitem-link{
                    color: var(--ae-primary) !important;
                    font-weight: 700 !important;
                }
            }
        }
        .p-tabmenu-ink-bar{
            bottom: -2px !important;
        }
    }
}
.ae-tabs__container{
    &--title{
        margin: 36px 0 20px 0;
        a{
            cursor: pointer;
        }
        .pi{
            cursor: pointer;
        }
    }
}
.ae-table__resumen{
    margin: 20px 0;
    .ae-resumen__item{
        margin: 10px 0;
        p{
            margin: 0;
            text-align: left;
        }
        span{
            text-align: right;
            display: block;
            line-height: normal;
        }
    }
}
.ae-qr{
    &__image{
        margin: 30px 0 20px 0;
        text-align: center;
    }
    &__text{
        p{
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
        }
        .ae-icon{
            width: 100%;
            max-width: 27px;
            height: 27px;
            border-radius: 50%;
            margin-left: 10px;
            background-color: #F1F1F1;
            cursor: pointer;
        }
    }
}
.ae-grid__card{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    .ae-project__card{
        margin: 8px 3px;
    }
}
.ae-container__kyc{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 50px;
    margin: 50px auto;
    max-width: 625px;
    &.ae-container--sm{
        max-width: 560px;
    }
    .ae-container__header{
        margin-bottom: 20px;
        .ae-text{
            .pi{
                cursor: pointer;
            }
        }
    }
    .ae-container__content{
        margin-bottom: 20px;
        .ae-steps__verify{
            margin-bottom: 50px;
            .ae-steps__item{
                margin: 14px 0;
            }
        }
        .ae-form__grid{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
            column-gap: 16px;
            row-gap: 0;
            .ae-grid--fullwidth{
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
    .ae-container__actions{
        .ae-button{
            width: 100%;
            max-width: 235px;
            .p-button{
                max-width: 235px;
                .p-button-label{
                    font-size: 14px;
                }
            }
            &.w-full{
                max-width: 100%;
                .p-button{
                    max-width: 100%;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .ae-balance{
        flex-direction: column;
        padding: 16px;
        &__primary{
            max-width: 100%;
            margin: 0;
            margin-bottom: 16px;
        }
    }
    .ae-button--back{
        top: 23px;
        left: 8px;
        i{
            font-size: 16px;
        }
        span{
            display: none;
        }
    }
    .ae-card__container{
        padding: 24px 20px;
        border-radius: 0;
    }
}
.error-message{
    display: block;
    font-size: 11px;
    color: #ea868f;
    margin-top: 5px;
}
@media (max-width: 480px) {
    .ae-dialog{
        &.ae-dialog--operations{
            .p-dialog-content{
                .ae-tabs__container{
                    .ae-tabs__container--actions{
                        gap: 8px;
                    }
                }
            }
        }
    }
    .ae-tabs__container{
        &--title{
            &.flex-column-mobile{
                flex-direction: column;
                .ae-title{
                    width: 100%;
                    margin-bottom: 20px;
                }
                .ae-select{
                    width: 100%;
                }
            }
        }
    }
    .ae-container__kyc{
        .ae-container__content{
            .ae-form__grid{
                .ae-grid--fullwidth{
                    grid-column-start: 1;
                    grid-column-end: 1;
                }
                .ae-radiobutton,
                .ae-inputcamera,
                .ae-calendar,
                .ae-input,
                .ae-inputnumber,
                .ae-select,
                .ae-selectinput,
                .ae-upload{
                    margin: 8px 0;
                }
                .ae-orden__one{
                    order: 1;
                }
                .ae-orden__two{
                    order: 2;
                }
                .ae-orden__three{
                    order: 2;
                }
                .ae-orden__four{
                    order: 2;
                }
                .ae-orden__five{
                    order: 2;
                }
                .ae-orden__six{
                    order: 2;
                }
            }
        }
        .ae-container__actions{
            .ae-button{
                max-width: 100%;
                .p-button{
                    max-width: 100%;
                }
            }
        }
    }
}