<div>
    <div #wrapperBalance class="ae-container warapper-balance"
        [ngStyle]="{ width: wrapperWidth + 'px', left: diffCenter + 'px' }">
        <div class="ae-balance flex align-items-center">
            <div class="ae-balance__primary">
                <div class="ae-balance__item flex align-items center justify-content-between">
                    <div class="ae-item__title">
                        <h2 class="font-bold">Balance</h2>
                        <p class="font-medium ae-text-default ae-text-gris">{{ currency }}</p>
                    </div>
                    <div class="ae-item__content">
                        <h2 class="ae-text-dark fw-bold">
                            {{ amount | currency : 'USD' : 'symbol' : '1.2-5' : 'en' }}
                        </h2>
                        <p class="font-medium ae-text-gris">0 BTC</p>
                    </div>
                </div>
            </div>
            <div class="ae-balance__secondary">
                <div class="ae-balance__item flex align-items-center one" (click)="showDialogBuySell(0)">
                    <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                        <i class="pi pi-plus"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'PurchaseContinue' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center ae-item__desktop"
                    (click)="showDialogSendReceive(0)">
                    <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                        <i class="pi pi-arrow-right"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'Send' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center" (click)="showDialogDepositWithdraw(0)">
                    <div class="ae-item__icon ae-bg-secondary flex align-items-center justify-content-center">
                        <i class="pi pi-download ae-text-primary"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'MakeDeposit' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center two" (click)="showDialogBuySell(1)">
                    <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                        <i class="pi pi-minus"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'SaleContinue' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center ae-item__desktop"
                    (click)="showDialogSendReceive(1)">
                    <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                        <i class="pi pi-arrow-left"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'Receive' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center ae-item__desktop"
                    (click)="showDialogDepositWithdraw(1)">
                    <div class="ae-item__icon ae-bg-secondary flex align-items-center justify-content-center">
                        <i class="pi pi-upload ae-text-primary"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'MakeWithdrawal' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center ae-item__mobile" (click)="showDialogOperations()">
                    <div class="ae-item__icon ae-bg-secondary flex align-items-center justify-content-center">
                        <i class="pi pi-ellipsis-v ae-text-primary"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'Más' | localize }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #inversionesContainer class="ae-container kt-grid__item kt-grid__item--fluid'"
        [ngStyle]="{ 'padding-top': wrapperHeight + 'px' }">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="align-items-stretch">
                    <div class="ae-card__container">
                        <div class="ae-tabs">
                            <p-tabMenu [model]="menuItems" [activeItem]="activeItem"
                                (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
                        </div>
                        <div class="ae-tabs__container" *ngIf="activeItem.label == 'Inversiones'">
                            <div *ngIf="isInversionesCarousel; else isInversionesCards">
                                <div class="ae-tabs__container--title flex align-items-center justify-content-between">
                                    <h2 class="m-0 ae-text-medium ae-text-dark fw-bold">
                                        Invierte en Tokens de proyectos
                                    </h2>
                                    <span class="ae-text-default ae-text-gris-dark fw-semibold disabled">Ver más</span>
                                    <!--<a
                                        class="ae-text-default ae-text-gris-dark fw-semibold disabled"
                                        (click)="isInversionesCarousel = false"
                                    >
                                        Ver más
                                    </a>-->
                                </div>
                                <div class="ae-carousel">
                                    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3"
                                        [responsiveOptions]="responsiveOptions">
                                        <ng-template let-product pTemplate="item">
                                            <div class="ae-project__card ae-card opacity-50"
                                                (click)="goToProject('ESA1')">
                                                <div class="ae-project__image">
                                                    <img src="/assets/projects/01.jpg" class="projects-img mb-3" />
                                                    <h2 class="ae-text-medium">30%</h2>
                                                    <span class="ae-text-gris-dark fw-bold">Inmobiliario</span>
                                                </div>
                                                <div class="ae-project__content">
                                                    <div
                                                        class="ae-content__title flex align-items-center justify-content-center">
                                                        <h5 class="ae-text-medium ae-text-dark mb-0">
                                                            Proyecto El Salvador
                                                        </h5>
                                                        <span class="ae-text-gris-dark fw-bold">Crowdfounding</span>
                                                    </div>
                                                    <div
                                                        class="ae-content__objetive flex justify-content-between gap-2">
                                                        <div class="flex align-items-center">
                                                            <h2 class="ae-text-primary fw-bold mb-0 mr-2">$8M</h2>
                                                            <span class="ae-text-gris-dark fw-semibold">30%</span>
                                                        </div>
                                                        <p class="ae-text-gris m-0">Objetivo: $10M USD</p>
                                                    </div>
                                                    <div class="ae-project__progress">
                                                        <div class="progress" role="progressbar" aria-valuenow="85"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            <div class="progress-bar ae-bg-primary" style="width: 85%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex justify-content-between gap-2">
                                                        <div class="ae-content__item flex align-items-center">
                                                            <p class="mb-0 mr-2 ae-text-gris ae-text-default">
                                                                Retorno
                                                            </p>
                                                            <span class="ae-text-dark fw-semibold ae-text-default">
                                                                18%
                                                            </span>
                                                        </div>
                                                        <div class="ae-content__item flex align-items-center">
                                                            <i class="pi pi-user mr-2 ae-text-gris"></i>
                                                            <span class="ae-text-dark fw-semibold ae-text-default">
                                                                223
                                                            </span>
                                                        </div>
                                                        <div class="ae-content__item flex align-items-center">
                                                            <i class="pi pi-clock mr-2 ae-text-gris"></i>
                                                            <span class="ae-text-dark fw-semibold ae-text-default">
                                                                46 Días
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ae-project__actions">
                                                    <button class="btn btn-secondary disabled w-full fw-bold"
                                                        type="button">
                                                        Invertir
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-carousel>
                                </div>
                            </div>
                            <ng-template #isInversionesCards>
                                <div
                                    class="ae-tabs__container--title flex flex-column-mobile align-items-center justify-content-between">
                                    <div class="ae-title flex align-items-center">
                                        <i class="pi pi-arrow-left ae-text-black ae-text-medium mr-4"
                                            (click)="isInversionesCarousel = true"></i>
                                        <h2 class="m-0 ae-text-medium ae-text-dark fw-bold">
                                            Invierte en Tokens de proyectos
                                        </h2>
                                    </div>
                                    <div class="ae-select m-0">
                                        <p-dropdown [options]="filterInversiones" optionLabel="label"
                                            placeholder="Todos"></p-dropdown>
                                    </div>
                                </div>
                                <div class="ae-grid__card">
                                    <div class="ae-project__card ae-card" *ngFor="let product of products"
                                        (click)="goToProject('ESA1')">
                                        <div class="ae-project__image">
                                            <img src="/assets/projects/01.jpg" class="projects-img mb-3" />
                                            <h2 class="ae-text-medium">30%</h2>
                                            <span class="ae-text-gris-dark fw-bold">Inmobiliario</span>
                                        </div>
                                        <div class="ae-project__content">
                                            <div
                                                class="ae-content__title flex align-items-center justify-content-center">
                                                <h5 class="ae-text-medium ae-text-dark mb-0">Proyecto El Salvador</h5>
                                                <span class="ae-text-gris-dark fw-bold">Crowdfounding</span>
                                            </div>
                                            <div class="ae-content__objetive flex justify-content-between gap-2">
                                                <div class="flex align-items-center">
                                                    <h2 class="ae-text-primary fw-bold mb-0 mr-2">$8M</h2>
                                                    <span class="ae-text-gris-dark fw-semibold">30%</span>
                                                </div>
                                                <p class="ae-text-gris m-0">Objetivo: $10M USD</p>
                                            </div>
                                            <div class="ae-project__progress">
                                                <div class="progress" role="progressbar" aria-valuenow="85"
                                                    aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar ae-bg-primary" style="width: 85%"></div>
                                                </div>
                                            </div>
                                            <div class="flex justify-content-between gap-2">
                                                <div class="ae-content__item flex align-items-center">
                                                    <p class="mb-0 mr-2 ae-text-gris ae-text-default">Retorno</p>
                                                    <span class="ae-text-dark fw-semibold ae-text-default">18%</span>
                                                </div>
                                                <div class="ae-content__item flex align-items-center">
                                                    <i class="pi pi-user mr-2 ae-text-gris"></i>
                                                    <span class="ae-text-dark fw-semibold ae-text-default">223</span>
                                                </div>
                                                <div class="ae-content__item flex align-items-center">
                                                    <i class="pi pi-clock mr-2 ae-text-gris"></i>
                                                    <span class="ae-text-dark fw-semibold ae-text-default">
                                                        46 Días
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ae-project__actions">
                                            <button class="btn btn-secondary disabled w-full fw-bold" disabled
                                                type="button">
                                                Invertir
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div class="ae-tabs__container" *ngIf="activeItem.label == 'Mercado'">
                            <trading-market-grid (selectRecord)="showDialogBuySell(0, $event)"></trading-market-grid>
                        </div>
                        <div class="ae-tabs__container" *ngIf="activeItem.label == 'Portafolio'">
                            <trading-portfolio></trading-portfolio>
                        </div>
                        <div class="ae-tabs__container" *ngIf="activeItem.label == 'Historial'">
                            <div class="ae-tabs__container--title">
                                <h2 class="m-0 ae-text-medium ae-text-dark fw-bold">
                                    Consulta todas las transacciones que hayas realizado en nuestra plataforma
                                </h2>
                            </div>
                            <div class="ae-tabs ae-tabs--circle">
                                <p-tabMenu [model]="menuItemsHistory" [activeItem]="activeItemHistory"
                                    (activeItemChange)="onActiveItemHistoryChange($event)"></p-tabMenu>
                            </div>
                            <div class="ae-tabs__container" *ngIf="activeItemHistory.label == 'Compra/Venta'">
                                <history-purchase-sale></history-purchase-sale>
                            </div>
                            <div class="ae-tabs__container" *ngIf="activeItemHistory.label == 'Depósito/Retiro'">
                                <history-deposit-withdrawal></history-deposit-withdrawal>
                            </div>
                            <div class="ae-tabs__container" *ngIf="activeItemHistory.label == 'Envio/Retiro'">
                                <history-send-receive></history-send-receive>
                            </div>
                            <!-- <otc-requests-crypto #cryptoRequests></otc-requests-crypto> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <member-fiat-deposit #createMntMemberFiatDepositModal></member-fiat-deposit>
        <member-fiat-withdrawal #createMntMemberFiatWithdrawalModal></member-fiat-withdrawal>
    </div>
    <div class="ae-container">
        <div class="ae-card__container">
            <div class="ae-card__container--title flex align-items-center justify-content-between">
                <h2 class="font-bold ae-text-dark">{{ 'TradingSliderTitile' | localize }}</h2>
                <a class="fw-bold ae-text-gris-dark" (click)="onActiveMenuItem(1)">{{ 'ViewMore' | localize }}</a>
            </div>
            <trading-market-slider></trading-market-slider>
        </div>
    </div>
    <div class="ae-container__operations" [ngClass]="{ 'ae-active': showFadeDialogOperations }">
        <div class="ae-operations__bg" (click)="showDialogOperations()"></div>
        <div #wrapperMobile class="ae-operations__mobile" [ngStyle]="{ top: wrapperMobileTopPosition }">
            <div class="ae-operation__line" (click)="showDialogOperations()">
                <span class="ae-item__line"></span>
            </div>
            <div class="ae-balance__item" (click)="showDialogBuySell(0)">
                <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                    <i class="pi pi-plus"></i>
                </div>
                <div class="ae-item__text">
                    <p class="fw-semibold">{{ 'PurchaseContinue' | localize }}</p>
                </div>
            </div>
            <div class="ae-balance__item" (click)="showDialogBuySell(1)">
                <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                    <i class="pi pi-minus"></i>
                </div>
                <div class="ae-item__text">
                    <p class="fw-semibold">{{ 'SaleContinue' | localize }}</p>
                </div>
            </div>
            <div class="ae-balance__item" (click)="showDialogSendReceive(0)">
                <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                    <i class="pi pi-arrow-right"></i>
                </div>
                <div class="ae-item__text">
                    <p class="fw-semibold">{{ 'Send' | localize }}</p>
                </div>
            </div>
            <div class="ae-balance__item" (click)="showDialogSendReceive(1)">
                <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                    <i class="pi pi-arrow-left"></i>
                </div>
                <div class="ae-item__text">
                    <p class="fw-semibold">{{ 'Receive' | localize }}</p>
                </div>
            </div>
            <div class="ae-balance__item" (click)="showDialogDepositWithdraw(0)">
                <div class="ae-item__icon ae-bg-secondary flex align-items-center justify-content-center">
                    <i class="pi pi-download ae-text-primary"></i>
                </div>
                <div class="ae-item__text">
                    <p class="fw-semibold">{{ 'MakeDeposit' | localize }}</p>
                </div>
            </div>
            <div class="ae-balance__item" (click)="showDialogDepositWithdraw(1)">
                <div class="ae-item__icon ae-bg-secondary flex align-items-center justify-content-center">
                    <i class="pi pi-upload ae-text-primary"></i>
                </div>
                <div class="ae-item__text">
                    <p class="fw-semibold">{{ 'MakeWithdrawal' | localize }}</p>
                </div>
            </div>
        </div>
    </div>
</div>