<div>
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-12 p-0">
                <div class="card justify-content-between p-3 mb-8">
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <h4>
                                Monetae
                                <small class="text-body-secondary"></small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row g-3">
                    <div class="col-md-12 align-items-stretch">
                        <div class="card card-height-100 p-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <p-tabMenu
                                        [model]="menuItems"
                                        [activeItem]="activeItem"
                                        (activeItemChange)="onActiveItemChange($event)"
                                    ></p-tabMenu>
                                </div>
                                <div class="col-md-8 d-flex flex-row-reverse">
                                    <div
                                        class="d-flex d-block justify-content-center justify-content-md-end d-sm-flex d-sm-block d-grid gap-2"
                                    >
                                        <button
                                            class="btn btn-primary"
                                            type="button"
                                            (click)="createMemberFiatDeposit()"
                                        >
                                            <i class="fa fa-coins fs-4"></i>
                                            {{ l('MakeDeposit') }}
                                        </button>
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-money-bill-wave-alt fs-3"></i>
                                            {{ l('Send') }}
                                        </button>
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-hand-holding-usd fs-3"></i>
                                            {{ l('Receive') }}
                                        </button>
                                        <button
                                            class="btn btn-primary"
                                            type="button"
                                            (click)="createMemberFiatWhitdrawal()"
                                        >
                                            <i class="far fa-credit-card fs-3"></i>
                                            {{ l('MakeWithdrawal') }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row pt-5">
                                <div class="col-md-12" *ngIf="activeItem.label == 'Proyectos'">
                                    <div class="row">
                                        <div class="btn-projects col-md-4" (click)="goToProject('ESA1')">
                                            <div class="card p-2">
                                                <div class="text-center">
                                                    <div class="badge badge-primary badge-projects fw-bold">
                                                        Crowdfunding
                                                    </div>
                                                    <img
                                                        src="/assets/projects/01.jpg"
                                                        class="rounded-4 projects-img mb-3"
                                                    />
                                                </div>

                                                <div>
                                                    <h5 class="mb-0">Proyecto El Salvador</h5>
                                                    <span class="text-muted">Inmobiliario</span>
                                                </div>
                                                <div>
                                                    <div
                                                        class="d-flex justify-content-between d-block d-sm-flex d-sm-block d-grid gap-2 py-2"
                                                    >
                                                        <div class="">Progreso</div>
                                                        <div class="">85%</div>
                                                    </div>
                                                    <div
                                                        class="progress"
                                                        role="progressbar"
                                                        aria-valuenow="85"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                    >
                                                        <div class="progress-bar bg-secondary" style="width: 85%"></div>
                                                    </div>
                                                    <div
                                                        class="mt-2 d-flex justify-content-between d-block d-sm-flex d-sm-block d-grid gap-2 py-2"
                                                    >
                                                        <div>Meta: $10,000,000 USD</div>
                                                        <div>Retorno: 18%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-projects col-md-4">
                                            <div class="card p-2">
                                                <div class="text-center">
                                                    <div class="badge badge-primary badge-projects fw-bold">
                                                        Crowdfunding
                                                    </div>
                                                    <img
                                                        src="/assets/projects/02.jpg"
                                                        class="rounded-4 projects-img mb-3"
                                                    />
                                                </div>

                                                <div>
                                                    <h5 class="mb-0">Superfast</h5>
                                                    <span class="text-muted">Financiero</span>
                                                </div>
                                                <div>
                                                    <div
                                                        class="d-flex justify-content-between d-block d-sm-flex d-sm-block d-grid gap-2 py-2"
                                                    >
                                                        <div class="">Progreso</div>
                                                        <div class="">60%</div>
                                                    </div>
                                                    <div
                                                        class="progress"
                                                        role="progressbar"
                                                        aria-valuenow="60"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                    >
                                                        <div class="progress-bar bg-secondary" style="width: 60%"></div>
                                                    </div>
                                                    <div
                                                        class="mt-2 d-flex justify-content-between d-block d-sm-flex d-sm-block d-grid gap-2 py-2"
                                                    >
                                                        <div>Meta: $5,000,000 USD</div>
                                                        <div>Retorno: 15%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-projects col-md-4">
                                            <div class="card p-2">
                                                <div class="text-center">
                                                    <div class="badge badge-primary badge-projects fw-bold">
                                                        Crowdfunding
                                                    </div>
                                                    <img
                                                        src="/assets/projects/token01.jpg"
                                                        class="rounded-4 mb-3 projects-img"
                                                    />
                                                </div>

                                                <div>
                                                    <h5 class="mb-0">Auto Tren</h5>
                                                    <span class="text-muted">Vehículos</span>
                                                </div>
                                                <div>
                                                    <div
                                                        class="d-flex justify-content-between d-block d-sm-flex d-sm-block d-grid gap-2 py-2"
                                                    >
                                                        <div class="">Progreso</div>
                                                        <div class="">30%</div>
                                                    </div>
                                                    <div
                                                        class="progress"
                                                        role="progressbar"
                                                        aria-valuenow="30"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                    >
                                                        <div class="progress-bar bg-secondary" style="width: 30%"></div>
                                                    </div>
                                                    <div
                                                        class="mt-2 d-flex justify-content-between d-block d-sm-flex d-sm-block d-grid gap-2 py-2"
                                                    >
                                                        <div>Meta: $2,500,000 USD</div>
                                                        <div>Retorno: 24%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="btn-projects col-md-4">
                                            <div class="card p-2">
                                                <div class="text-center">
                                                    <div class="badge badge-primary badge-projects fw-bold">
                                                        Inversión
                                                    </div>
                                                    <img
                                                        src="/assets/projects/token02.jpg"
                                                        class="rounded-4 projects-img mb-3"
                                                    />
                                                </div>

                                                <div>
                                                    <h5 class="mb-0">BTG</h5>
                                                    <span class="text-muted">Fondo de renta variable</span>
                                                </div>
                                                <div>
                                                    <div
                                                        class="mt-2 d-flex justify-content-between d-block d-sm-flex d-sm-block d-grid gap-2 py-2"
                                                    >
                                                        <div>Ticket mínimo: $5,000 USD</div>
                                                        <div>Retorno: 19.62%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="btn-projects col-md-4">
                                            <div class="card p-2">
                                                <div class="text-center">
                                                    <div class="badge badge-primary badge-projects fw-bold">
                                                        Inversión
                                                    </div>
                                                    <img
                                                        src="/assets/projects/05.jpg"
                                                        class="rounded-4 projects-img mb-3"
                                                    />
                                                </div>

                                                <div>
                                                    <h5 class="mb-0">iCash</h5>
                                                    <span class="text-muted">Crédito sobre nómina</span>
                                                </div>
                                                <div>
                                                    <div
                                                        class="mt-2 d-flex justify-content-between d-block d-sm-flex d-sm-block d-grid gap-2 py-2"
                                                    >
                                                        <div>Ticket mínimo: $1,000 USD</div>
                                                        <div>Retorno: 17%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="activeItem.label == 'OTC'">
                                    <otc-wrapper></otc-wrapper>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <member-fiat-deposit #createMntMemberFiatDepositModal></member-fiat-deposit>
        <member-fiat-withdrawal #createMntMemberFiatWithdrawalModal></member-fiat-withdrawal>
    </div>
</div>
