<div>
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-12 p-0">
                <div class="card justify-content-between p-3 mb-8">
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <h4>
                                Monetae
                                <small class="text-body-secondary"></small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ae-container">
        <div class="ae-balance flex align-items-center">
            <div class="ae-balance__primary">
                <div class="ae-balance__item flex align-items center justify-content-between">
                    <div class="ae-item__title">
                        <h2 class="fw-bold">Balance</h2>
                        <p class="fw-semibold ae-text-gris">mUSD</p>
                    </div>
                    <div class="ae-item__content">
                        <h2 class="fw-bold">$20.000</h2>
                        <p class="fw-semibold ae-text-gris">0,581854 BTC</p>
                    </div>
                </div>
            </div>
            <div class="ae-balance__secondary">
                <div class="ae-balance__item flex align-items-center">
                    <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                        <i class="pi pi-plus"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'PurchaseContinue' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center">
                    <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                        <i class="pi pi-arrow-right"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'Send' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center" (click)="createMemberFiatDeposit()">
                    <div class="ae-item__icon ae-bg-secondary flex align-items-center justify-content-center">
                        <i class="pi pi-download ae-text-primary"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'MakeDeposit' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center">
                    <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                        <i class="pi pi-minus"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'SaleContinue' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center">
                    <div class="ae-item__icon ae-bg-primary flex align-items-center justify-content-center">
                        <i class="pi pi-arrow-left"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'Receive' | localize }}</p>
                    </div>
                </div>
                <div class="ae-balance__item flex align-items-center" (click)="createMemberFiatWhitdrawal()">
                    <div class="ae-item__icon ae-bg-secondary flex align-items-center justify-content-center">
                        <i class="pi pi-upload ae-text-primary"></i>
                    </div>
                    <div class="ae-item__text">
                        <p class="fw-semibold">{{ 'MakeWithdrawal' | localize }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ae-container kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row g-3">
                    <div class="col-md-12 align-items-stretch">
                        <div class="ae-card__container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p-tabMenu
                                        [model]="menuItems"
                                        [activeItem]="activeItem"
                                        (activeItemChange)="onActiveItemChange($event)"
                                    ></p-tabMenu>
                                </div>
                            </div>
                            <div class="row pt-5">
                                <div class="col-md-12" *ngIf="activeItem.label == 'Inversiones'">
                                    <div class="ae-carousel">
                                        <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
                                            <ng-template let-product pTemplate="item">
                                                <div class="ae-project__card ae-card btn-projects" (click)="goToProject('ESA1')">
                                                    <div class="ae-project__image">
                                                        <img
                                                            src="/assets/projects/01.jpg"
                                                            class="projects-img mb-3"
                                                        />
                                                        <h2>30%</h2>
                                                        <span class="ae-text-gris-dark fw-bold">Inmobiliario</span>
                                                    </div>
                                                    <div class="ae-project__content">
                                                        <div class="ae-content__title flex align-items-center justify-content-center">
                                                            <h5 class="mb-0">Proyecto El Salvador</h5>
                                                            <span class="ae-text-gris-dark fw-bold">Crowdfounding</span>
                                                        </div>
                                                        <div class="ae-content__objetive flex justify-content-between gap-2">
                                                            <div class="flex align-items-center">
                                                                <h2 class="ae-text-primary fw-bold mb-0 mr-2">$8M</h2>
                                                                <span class="ae-text-gris-dark fw-semibold">30%</span>
                                                            </div>
                                                            <p class="ae-text-gris m-0">Objetivo: $10M USD</p>
                                                        </div>
                                                        <div class="ae-project__progress">
                                                            <div
                                                                class="progress"
                                                                role="progressbar"
                                                                aria-valuenow="85"
                                                                aria-valuemin="0"
                                                                aria-valuemax="100"
                                                            >
                                                                <div class="progress-bar ae-bg-primary" style="width: 85%"></div>
                                                            </div>
                                                        </div>
                                                        <div class="flex justify-content-between gap-2">
                                                            <div class="ae-content__item flex align-items-center">
                                                                <p class="mb-0 mr-2 ae-text-gris">Retorno</p>
                                                                <span class="ae-text-dark fw-semibold">18%</span>
                                                            </div>
                                                            <div class="ae-content__item flex align-items-center">
                                                                <i class="pi pi-user mr-2 ae-text-gris"></i>
                                                                <span class="ae-text-dark fw-semibold">223</span>
                                                            </div>
                                                            <div class="ae-content__item flex align-items-center">
                                                                <i class="pi pi-clock mr-2 ae-text-gris"></i>
                                                                <span class="ae-text-dark fw-semibold">46 Días</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ae-project__actions">
                                                        <button class="ae-btn ae-btn--secondary w-full fw-bold" type="button">Invertir</button>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-carousel>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="activeItem.label == 'Portafolio'">
                                    <otc-wrapper></otc-wrapper>
                                </div>
                                <div class="col-md-12" *ngIf="activeItem.label == 'Historial'">
                                    <otc-requests-crypto #cryptoRequests></otc-requests-crypto>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <member-fiat-deposit #createMntMemberFiatDepositModal></member-fiat-deposit>
        <member-fiat-withdrawal #createMntMemberFiatWithdrawalModal></member-fiat-withdrawal>
    </div>
    <div class="ae-container">
        <div class="ae-card__container">
            <div class="ae-card__container--title flex align-items-center justify-content-between">
                <h2 class="fw-bold ae-text-dark">Invierte en activos digitales</h2>
                <a class="fw-bold ae-text-gris-dark">Ver más</a>
            </div>
            <div class="ae-carousel">
                <p-carousel [value]="cryptos" [numVisible]="4" [numScroll]="4" [responsiveOptions]="responsiveOptionsCryptos">
                    <ng-template let-crypto pTemplate="item">
                        <div class="ae-crypto__card ae-card ae-card__boxshadow">
                            <div class="ae-crypto__title flex align-items-center mb-4">
                                <div class="ae-coin mr-3">
                                    <img
                                        src="/assets/crypto-icons/btc.png"
                                    />
                                </div>
                                <div class="ae-text">
                                    <h2 class="ae-text-dark fw-bold">{{ crypto.name }}</h2>
                                    <p class="ae-text-dark">{{ crypto.coin }}</p>
                                </div>
                            </div>
                            <div class="ae-crypto__content flex align-items-center">
                                <div class="ae-text">
                                    <h2 class="ae-text-dark fw-semibold">$52,291</h2>
                                    <p class="ae-text-success m-0">+0.25%</p>
                                </div>
                                <div class="ae-graphic">
                                    <i class="la la-line-chart text-success"></i>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>
