<div class="flex-root container-fluid" style="background-size: cover; background-position: center; 
background-image: url(/assets/metronic/assets/media/svg/illustrations/{{backgroundImageName}}.jpg);">
    <div class="container h-100 flex align-items-center justify-content-center">
        <div class="rounded rounded-4 login-form ae-login">
            <div class="d-flex flex-center flex-column flex-column-fluid"
                [class.pb-lg-10]="!isSelectEditionPage()" [class.pb-0]="isSelectEditionPage()">
                <!--begin::Logo-->
                <a (click)="goToHome()" href="" class="ae-login__logo ustify-content-center">
                    <img *ngIf="!appSession.tenant || !appSession.tenant.HasLogo()" [src]="defaultLogo" alt="logo"
                        [class.mb-20]="isSelectEditionPage()" />
                    <img *ngIf="appSession.tenant && appSession.tenant.HasLogo()" [src]="
                                    remoteServiceBaseUrl +
                                    '/TenantCustomization/GetTenantLogo?skin=' +
                                    getLogoSkin() +
                                    '&tenantId=' +
                                    appSession.tenant.id
                                " alt="logo" class="h-40px" />
                </a>
                <!--end::Logo-->
                <!--begin::Wrapper-->
                <div *ngIf="isSelectEditionPage()" class="container-xxl mx-auto">
                    <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                        <tenant-change></tenant-change>
                    </div>
                    <!--begin::Form-->
                    <router-outlet></router-outlet>
                    <!--end::Form-->
                </div>
                <div *ngIf="!isSelectEditionPage()"
                    class="ae-login__form rounded">
                    <div *ngIf="showTenantChange()" class="tenant-change-box mb-5 tenant-change-box">
                        <tenant-change></tenant-change>
                    </div>
                    <!--begin::Form-->
                    <router-outlet></router-outlet>
                    <!--end::Form-->
                </div>
                <!--end::Wrapper-->

                <!--begin::Footer-->
                <div class="d-flex flex-center flex-column-auto p-0" [class.pt-0]="isSelectEditionPage()">
                    <!--begin::Links-->
                    <div class="d-flex align-items-center fw-bold fs-6">
                        <language-switch class="mx-auto"></language-switch>
                    </div>
                    <!--end::Links-->
                </div>
                <!--end::Footer-->
            </div>
                <!--end::Content-->
        </div>
    </div>
    <!--end::Authentication - Sign-in-->
</div>